# Directories to ignore
data/
data_sample/
data_preview/
sample_solution/

# OS files
.DS_Store

# Virtual env
.venv/

# Build files
*.egg-info/
*__pycache__/

# Terraform
infra/.terraform/
infra/*.tfstate*
infra/.terraform.lock.hcl
*.tfvars
!infra/terraform.tfvars.example

# Claude
.claude/